YOUTUBE_API_KEY=

POSTGRES_DB=videosearch
POSTGRES_USER=videosearch
POSTGRES_PASSWORD=videosearch

BACKEND_PORT=8000
CLIENT_PORT=5173
EXTENSION_STATIC_PORT=5174
EMBEDDING_SERVICE_PORT=8081
FRAME_INTERVAL_SECONDS=8
EMBEDDING_MODEL=clip-ViT-B-32
